
/* 

LIVE PLAYER PROTOTYPE

================================
MEDIA
================================
01. MOBILE (Less than 768px)
02. TABLET (Greater than 768px)

================================
SECTIONS
================================
A. Global
B. Main Navigation
C. Player Container
D. Title Block
E. Desktop Player Menu
F. Info Panel Container
G. Mobile Footer 
H. Single Video Navigation
I. Share Panel
J. Single Bookmark

*/

/* ---------------------------------- +/
01. MOBILE (Less than 768px)
/+ ---------------------------------- */

/* [A] Global */ 
body {
	margin: 262px 0 50px 0;
}

/* [B] Main Navigation */ 
#mainNavigation {
	border-bottom: 1px solid #CCC;
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;

	.container-fluid {
		background-color: transparent;

		/* [AA.BRAND] */ 
		#mainNavBrand {
			width: 100%;

			img {
				height: 25px;
				margin: 0 auto;
			}
		}
		/* [BB.VIDEO TITLE] */
		#mainNavDropDown {
			display: none;
		}

		/* [CC.VIDEO TITLE] */ 
		#mainNavVidTitle {
			display: none;
		}

		/* [DD.PROFILE DROPDOWN] */ 
		#mainNavProfileDropDown {
			display: none;
		}
	}
}

/* [C] Player Container */ 
#playerContainer {
	left:0px;
	position:fixed;
	top:51px;
	width: 100%;
	z-index: 100;
}

/* [D] Title Block */ 
#titleBlock {
	background-color: #FFF;
	margin: 0;

	.col-md-8 {
		display: none;
		font-size: 24px;
		line-height: 24px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.col-md-4 {

		#shareButtons {
			background-color: #F5F5F5;
			border-bottom: 1px solid #EEE;
			border-top: 1px solid #EEE;

			.col-md-4 {
				padding-right: 8px;
				padding-left: 8px;

				button {
					background-color: transparent;
					background-image: none;
					border-radius: 0;
					border: none;
					border-color: transparent;
					box-shadow: none;
					text-shadow: none;
					width: 100%;
				}
			}
		}
	}
}

/* [E] Desktop Player Menu */ 
#playerMenu {
	display: none;
}

/* [F] Info Panel Container */ 
#infoPanelContainer {
	position: relative;
	padding-top: 25px;

	/* [F.01] Carousel Indicators */ 
	.carousel-indicators {
		background-color: #f9f9f9;
		border-bottom: 1px solid #EEE;
		bottom: 0;
		height: 25px;
		left: 0;
		margin-bottom: 0;
		margin-left: 0;
		padding: 3px;
		position: absolute;
		top: 0;
		width: 100%;

		li {
			border: 1px solid #999;
		}
		.active {
			background-color: #aad5fa;
			border: 1px solid #999;
		}
	}

	/* [F.02] Single Player Options */ 
	#singlePlayerOptions {

		.carousel-inner {

			.item {

				.optionPanel {
					padding: 40px 0 0;

					header {
						background-color: transparent;
						display: block;
						left: 0;
						margin: 0;
						padding: 10px 0;
						position: fixed;
						text-align: center;
						top: 0px;
						width: 100%;
						z-index: 100;
						
						h1 {
							color: #666;
							font-size: 18px;
							margin: 0;
						}
						#leftOption {
							left: 10px;
							position: absolute;
						}
						#rightOption {
							background-color: #F2F2F2;
							border: 1px solid #EEE;
							color: #AAA;
							padding: 5px 10px;
							position: absolute;
							right: 10px;
							top: 4px;
						}
					}

					.individualPanel {
						background-color: #EEEEEE;

						.shareInfo {
							padding: 0 10px 10px;

							h2 {
								border-bottom: 2px solid #FFF;
								font-size: 18px;
								font-weight: 400;
								margin: 1px 0 10px;
								padding: 10px 0 10px;
							}

							p {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}

}

/* [G] Mobile Footer */ 
#mobileFooter {
	background-color: #FFF;
	bottom: 0;
	border-top: 1px solid #B2B2B2;
	height: 50px;
	padding: 0;
	position: fixed;
	text-align: center;
	width: 100%;

	.col-xs-3 {
		padding-left: 5px;
		padding-right: 5px;

		a {
			color: #656565;
			display: block;
			height: 50px;
			padding: 10px 0;

			span {
				display: block;
			}
		}
		a.active {
			background-color: #EEE;
			color: #58AEEF;
		}
	}
}

/* [H] Single Video Navigation */ 
#singleVidNav {
	display: none;
}

/* [I] Share Panel */ 
#sharePanel {
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	left: 0;
	margin: 0 0 15px;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	.col-xs-4 {
		border-right: 1px solid #CCC;

		/* [I.01] Share Option */ 
		.shareOption {
			background-color: transparent;
			color: #428bca;
			display: block;
			padding: 5px;
			text-align: center;
			text-decoration: none;
		}
		.active {
			background-color: #616161;
			color: #FFF;
			
			span {
				color: #ee4c44;
			}
		}

	}
	.col-xs-4:nth-child(2) {
		padding-left: 0;
		padding-right: 0;
	}

	.col-xs-4:last-child {
		border-right: none;
	}
}

/* [J] Share Panel */ 
.singleBookmark {
	background-color: transparent;
	border-top: 1px solid #CCC;
	padding: 10px 10px 10px 140px;
	position: relative;

	.container-fluid {
		padding-right: 0;
		padding-left: 0;

		img {
			display: block;
			background-color: #000;
			height: 70px;
			left: 10px;
			position: absolute;
			top: 10px;
			width: 120px;
		}

		.duration {
			background-color: #000;
			color: #FFF;
			font-size: 10px;
			left: 15px;
			padding: 0 2px;
			position: absolute;
			top: 60px;
		}

		.title {
			background-color: transparent;
			font-size: 14px;
			font-weight: 300;
			display: block;
			margin: 0 0 5px 0;
			padding: 0;
		}

		.tags {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				float:left;

					a {
						font-size: 10px;
					}
					a:after {
						content: ", ";
					}
					/*
					a:last-child:after {
					  content: '.';
					}
					*/
			}
		}

		.time {
			border-bottom:1px solid #CCC;
			border-top:1px solid #CCC;
			clear: both;
		}

		#stats {
			border-top: 1px solid #CCC;
			clear: both;

			li {

				a {
					border-radius: 0;
					color: #666;
					font-size: 12px;
					padding: 5px 10px;
				}
			}
		}
	}
}

/* [06.MOBILE MENU BAR] */
#mobileMenuBar {
	background-color: #F5F5F5;
	border-bottom: #CCC solid 1px;
	display: block;
	height: 40px;
	margin: 0 0 10px;
	padding: 5px 0;
	position: relative;
	text-align: center;

	h5 {
		display: block;
		margin: 0 0 2px;
		padding: 0;
	}

	ol {
		position: relative;
		bottom: 3px;

		li {
			background-color: transparent;
			border: 1px solid #999;
		}
		li.active {
			background-color: #CCC;
		}
	}
}




/* ---------------------------------- +/
02. TABLET (Greater than 768px)
/+ ---------------------------------- */
@media (min-width:768px){

	/* [A] Global */ 
	body {
		margin: 51px 0 50px 0;
	}

	/* [B] Main Navigation */ 
	#mainNavigation {
		border-bottom: 1px solid #CCC;
		border-radius: 0;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 101;

		.container-fluid {
			background-color: transparent;

			/* [B.01] Brand */ 
			#mainNavBrand {
				width: inherit;
			}

			/* [B.02] Video Title */ 
			#mainNavDropDown {
				display: block;
			}

			/* [B.03] Profile Dropdown */ 
			#mainNavProfileDropDown {
				display: block;
			}
		}
	}

	/* [C] Player Container */
	#playerContainer {
		left:0px;
		position:relative;
		top:0;
		width: 100%;
		z-index: 100;
	}

	#playerContainer.vidFixedPosition {
		bottom: 10px;
		display: block;
		height: 220px;
		position: fixed;
		right: 10px;
		width: 50%;
		z-index: 100;
	}

	/* [D] Title Block */ 
	#titleBlock {

		.col-md-8 {
			display: block;
		}
		.col-md-4 {

			#shareButtons {

				.col-md-4 {

					button {}
				}
			}
		}
	}

	/* [G] Mobile Footer */ 
	#mobileFooter {
		display: none;
	}
}/* [end] min-width:768px) */


/* ---------------------------------- +/
DESKTOP
Greater than 960px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width:960px){

	/* [00.GLOBAL] */ 
	body {
		margin: 52px 0 0;
	}

	/* [01.MAIN NAVIGATION] */ 
	#mainNavigation {
		border-bottom: 1px solid #CCC;
		border-radius: 0;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;

		.container-fluid {
			background-color: transparent;

			/* [AA.BRAND] */ 
			#mainNavBrand {

				img {
					height: 25px;
				}
			}

			/* [BB.VIDEO TITLE] */ 
			#mainNavVidTitle {
				background-color: transparent;
				display: block !important;
				float: left;
				font-size: 15px;
				font-weight: 500;
				padding: 15px 0 0 15px;
				position: relative;

				#nowWatching {
					background-color: transparent;
					color: #000;
					font-size: 9px;
					position: absolute;
					top: 4px;
				}
			}
		}
	}

	#playerContainer.fixedPosition {
		bottom: 10px;
		display: block;
		height: 290px;
		position: fixed;
		right: 10px;
		width: 50%;
		z-index: 100;
	}

	/* [03.MOBILE FOOTER MENU] */
	#mobileFooterMenu {
		display: none;
	}

}/* [end] min-width:960px) */


/* ---------------------------------- +/
WIDE DESKTOP
Greater than 1100px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width:1200px){

	/* [00.GLOBAL] */ 
	body {
		margin: 52px 0 0;
	}
	
	/* [01.MAIN NAVIGATION] */ 
	#mainNavigation {
		border-bottom: 1px solid #CCC;
		border-radius: 0;
		margin: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;

		.container-fluid {
			background-color: transparent;

			/* [AA.BRAND] */ 
			#mainNavBrand {

				img {
					height: 25px;
				}
			}

			/* [BB.BRAND] */
			#mainNavProfileDropDown {

				.videoTitle {
					font-size: 14px;
				}

				.dropdown {

					.dropdown-toggle {
						display: none;
					}

					.dropdown-menu {
						background-color: transparent;
						border: none;
						border-radius: 0;
						box-shadow: none;
						display: block;
						margin: 8px 0;
						min-width: 300px;
						padding: 8px 0;
						position: relative;

						li {
							float: left;

							a {
								background-color: transparent;
								border-right: 1px solid #666;
								display: inline-block;
								font-size: 12px;
								margin: 0 3px;
								padding: 3px 5px;
							}
							a:hover {
								background-color: #FFF;
								background-image: none;
								color: #428BCA;

							}
						}
						li:last-child {

							a {
								border: none;
							}
						}
					}
				}
			}

		}
	}


	#playerContainer.vidFixedPosition {
		bottom: 10px;
		display: block;
		height: 220px;
		position: fixed;
		right: 10px;
		width: 30%;
		z-index: 100;
	}

	/* [03.MOBILE FOOTER MENU] */
	#mobileFooterMenu {
		display: none;
	}

} /* [end] min-width:1100px) */
