/* 

LIVE PLAYER PROTOTYPE

================================
MEDIA
================================
01. MOBILE (Less than 768px)
02. TABLET (Greater than 768px)

================================
SECTIONS
================================
A. Global
B. Main Navigation
C. Player Container
D. Title Block
E. Desktop Player Menu
F. Info Panel Container
G. Mobile Footer 
H. Single Video Navigation
I. Share Panel
J. Single Bookmark

*/
/* ---------------------------------- +/
01. MOBILE (Less than 768px)
/+ ---------------------------------- */
/* [A] Global */
/* line 33, ../sass/live-player.scss */
body {
  margin: 262px 0 50px 0;
}

/* [B] Main Navigation */
/* line 38, ../sass/live-player.scss */
#mainNavigation {
  border-bottom: 1px solid #CCC;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}
/* line 50, ../sass/live-player.scss */
#mainNavigation .container-fluid {
  background-color: transparent;
  /* [AA.BRAND] */
  /* [BB.VIDEO TITLE] */
  /* [CC.VIDEO TITLE] */
  /* [DD.PROFILE DROPDOWN] */
}
/* line 54, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavBrand {
  width: 100%;
}
/* line 57, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavBrand img {
  height: 25px;
  margin: 0 auto;
}
/* line 63, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavDropDown {
  display: none;
}
/* line 68, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavVidTitle {
  display: none;
}
/* line 73, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavProfileDropDown {
  display: none;
}

/* [C] Player Container */
/* line 80, ../sass/live-player.scss */
#playerContainer {
  left: 0px;
  position: fixed;
  top: 51px;
  width: 100%;
  z-index: 100;
}

/* [D] Title Block */
/* line 89, ../sass/live-player.scss */
#titleBlock {
  background-color: #FFF;
  margin: 0;
}
/* line 93, ../sass/live-player.scss */
#titleBlock .col-md-8 {
  display: none;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 102, ../sass/live-player.scss */
#titleBlock .col-md-4 #shareButtons {
  background-color: #F5F5F5;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;
}
/* line 107, ../sass/live-player.scss */
#titleBlock .col-md-4 #shareButtons .col-md-4 {
  padding-right: 8px;
  padding-left: 8px;
}
/* line 111, ../sass/live-player.scss */
#titleBlock .col-md-4 #shareButtons .col-md-4 button {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: none;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  width: 100%;
}

/* [E] Desktop Player Menu */
/* line 127, ../sass/live-player.scss */
#playerMenu {
  display: none;
}

/* [F] Info Panel Container */
/* line 132, ../sass/live-player.scss */
#infoPanelContainer {
  position: relative;
  padding-top: 25px;
  /* [F.01] Carousel Indicators */
  /* [F.02] Single Player Options */
}
/* line 137, ../sass/live-player.scss */
#infoPanelContainer .carousel-indicators {
  background-color: #f9f9f9;
  border-bottom: 1px solid #EEE;
  bottom: 0;
  height: 25px;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 3px;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 150, ../sass/live-player.scss */
#infoPanelContainer .carousel-indicators li {
  border: 1px solid #999;
}
/* line 153, ../sass/live-player.scss */
#infoPanelContainer .carousel-indicators .active {
  background-color: #aad5fa;
  border: 1px solid #999;
}
/* line 166, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel {
  padding: 40px 0 0;
}
/* line 169, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel header {
  background-color: transparent;
  display: block;
  left: 0;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 100;
}
/* line 181, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel header h1 {
  color: #666;
  font-size: 18px;
  margin: 0;
}
/* line 186, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel header #leftOption {
  left: 10px;
  position: absolute;
}
/* line 190, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel header #rightOption {
  background-color: #F2F2F2;
  border: 1px solid #EEE;
  color: #AAA;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 4px;
}
/* line 201, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel .individualPanel {
  background-color: #EEEEEE;
}
/* line 204, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel .individualPanel .shareInfo {
  padding: 0 10px 10px;
}
/* line 207, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel .individualPanel .shareInfo h2 {
  border-bottom: 2px solid #FFF;
  font-size: 18px;
  font-weight: 400;
  margin: 1px 0 10px;
  padding: 10px 0 10px;
}
/* line 215, ../sass/live-player.scss */
#infoPanelContainer #singlePlayerOptions .carousel-inner .item .optionPanel .individualPanel .shareInfo p {
  font-size: 14px;
}

/* [G] Mobile Footer */
/* line 228, ../sass/live-player.scss */
#mobileFooter {
  background-color: #FFF;
  bottom: 0;
  border-top: 1px solid #B2B2B2;
  height: 50px;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
/* line 238, ../sass/live-player.scss */
#mobileFooter .col-xs-3 {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 242, ../sass/live-player.scss */
#mobileFooter .col-xs-3 a {
  color: #656565;
  display: block;
  height: 50px;
  padding: 10px 0;
}
/* line 248, ../sass/live-player.scss */
#mobileFooter .col-xs-3 a span {
  display: block;
}
/* line 252, ../sass/live-player.scss */
#mobileFooter .col-xs-3 a.active {
  background-color: #EEE;
  color: #58AEEF;
}

/* [H] Single Video Navigation */
/* line 260, ../sass/live-player.scss */
#singleVidNav {
  display: none;
}

/* [I] Share Panel */
/* line 265, ../sass/live-player.scss */
#sharePanel {
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  left: 0;
  margin: 0 0 15px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
/* line 276, ../sass/live-player.scss */
#sharePanel .col-xs-4 {
  border-right: 1px solid #CCC;
  /* [I.01] Share Option */
}
/* line 280, ../sass/live-player.scss */
#sharePanel .col-xs-4 .shareOption {
  background-color: transparent;
  color: #428bca;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
/* line 288, ../sass/live-player.scss */
#sharePanel .col-xs-4 .active {
  background-color: #616161;
  color: #FFF;
}
/* line 292, ../sass/live-player.scss */
#sharePanel .col-xs-4 .active span {
  color: #ee4c44;
}
/* line 298, ../sass/live-player.scss */
#sharePanel .col-xs-4:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}
/* line 303, ../sass/live-player.scss */
#sharePanel .col-xs-4:last-child {
  border-right: none;
}

/* [J] Share Panel */
/* line 309, ../sass/live-player.scss */
.singleBookmark {
  background-color: transparent;
  border-top: 1px solid #CCC;
  padding: 10px 10px 10px 140px;
  position: relative;
}
/* line 315, ../sass/live-player.scss */
.singleBookmark .container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/* line 319, ../sass/live-player.scss */
.singleBookmark .container-fluid img {
  display: block;
  background-color: #000;
  height: 70px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 120px;
}
/* line 329, ../sass/live-player.scss */
.singleBookmark .container-fluid .duration {
  background-color: #000;
  color: #FFF;
  font-size: 10px;
  left: 15px;
  padding: 0 2px;
  position: absolute;
  top: 60px;
}
/* line 339, ../sass/live-player.scss */
.singleBookmark .container-fluid .title {
  background-color: transparent;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
}
/* line 348, ../sass/live-player.scss */
.singleBookmark .container-fluid .tags {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 353, ../sass/live-player.scss */
.singleBookmark .container-fluid .tags li {
  float: left;
  /*
  a:last-child:after {
    content: '.';
  }
  */
}
/* line 356, ../sass/live-player.scss */
.singleBookmark .container-fluid .tags li a {
  font-size: 10px;
}
/* line 359, ../sass/live-player.scss */
.singleBookmark .container-fluid .tags li a:after {
  content: ", ";
}
/* line 370, ../sass/live-player.scss */
.singleBookmark .container-fluid .time {
  border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC;
  clear: both;
}
/* line 376, ../sass/live-player.scss */
.singleBookmark .container-fluid #stats {
  border-top: 1px solid #CCC;
  clear: both;
}
/* line 382, ../sass/live-player.scss */
.singleBookmark .container-fluid #stats li a {
  border-radius: 0;
  color: #666;
  font-size: 12px;
  padding: 5px 10px;
}

/* [06.MOBILE MENU BAR] */
/* line 394, ../sass/live-player.scss */
#mobileMenuBar {
  background-color: #F5F5F5;
  border-bottom: #CCC solid 1px;
  display: block;
  height: 40px;
  margin: 0 0 10px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}
/* line 404, ../sass/live-player.scss */
#mobileMenuBar h5 {
  display: block;
  margin: 0 0 2px;
  padding: 0;
}
/* line 410, ../sass/live-player.scss */
#mobileMenuBar ol {
  position: relative;
  bottom: 3px;
}
/* line 414, ../sass/live-player.scss */
#mobileMenuBar ol li {
  background-color: transparent;
  border: 1px solid #999;
}
/* line 418, ../sass/live-player.scss */
#mobileMenuBar ol li.active {
  background-color: #CCC;
}

/* ---------------------------------- +/
02. TABLET (Greater than 768px)
/+ ---------------------------------- */
@media (min-width: 768px) {
  /* [A] Global */
  /* line 433, ../sass/live-player.scss */
  body {
    margin: 51px 0 50px 0;
  }

  /* [B] Main Navigation */
  /* line 438, ../sass/live-player.scss */
  #mainNavigation {
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
  }
  /* line 447, ../sass/live-player.scss */
  #mainNavigation .container-fluid {
    background-color: transparent;
    /* [B.01] Brand */
    /* [B.02] Video Title */
    /* [B.03] Profile Dropdown */
  }
  /* line 451, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavBrand {
    width: inherit;
  }
  /* line 456, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavDropDown {
    display: block;
  }
  /* line 461, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown {
    display: block;
  }

  /* [C] Player Container */
  /* line 468, ../sass/live-player.scss */
  #playerContainer {
    left: 0px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  /* line 476, ../sass/live-player.scss */
  #playerContainer.vidFixedPosition {
    bottom: 10px;
    display: block;
    height: 220px;
    position: fixed;
    right: 10px;
    width: 50%;
    z-index: 100;
  }

  /* [D] Title Block */
  /* line 489, ../sass/live-player.scss */
  #titleBlock .col-md-8 {
    display: block;
  }

  /* [G] Mobile Footer */
  /* line 505, ../sass/live-player.scss */
  #mobileFooter {
    display: none;
  }
}
/* [end] min-width:768px) */
/* ---------------------------------- +/
DESKTOP
Greater than 960px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width: 960px) {
  /* [00.GLOBAL] */
  /* line 524, ../sass/live-player.scss */
  body {
    margin: 52px 0 0;
  }

  /* [01.MAIN NAVIGATION] */
  /* line 529, ../sass/live-player.scss */
  #mainNavigation {
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  /* line 538, ../sass/live-player.scss */
  #mainNavigation .container-fluid {
    background-color: transparent;
    /* [AA.BRAND] */
    /* [BB.VIDEO TITLE] */
  }
  /* line 544, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavBrand img {
    height: 25px;
  }
  /* line 550, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavVidTitle {
    background-color: transparent;
    display: block !important;
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0 0 15px;
    position: relative;
  }
  /* line 559, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavVidTitle #nowWatching {
    background-color: transparent;
    color: #000;
    font-size: 9px;
    position: absolute;
    top: 4px;
  }

  /* line 570, ../sass/live-player.scss */
  #playerContainer.fixedPosition {
    bottom: 10px;
    display: block;
    height: 290px;
    position: fixed;
    right: 10px;
    width: 50%;
    z-index: 100;
  }

  /* [03.MOBILE FOOTER MENU] */
  /* line 581, ../sass/live-player.scss */
  #mobileFooterMenu {
    display: none;
  }
}
/* [end] min-width:960px) */
/* ---------------------------------- +/
WIDE DESKTOP
Greater than 1100px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width: 1200px) {
  /* [00.GLOBAL] */
  /* line 601, ../sass/live-player.scss */
  body {
    margin: 52px 0 0;
  }

  /* [01.MAIN NAVIGATION] */
  /* line 606, ../sass/live-player.scss */
  #mainNavigation {
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  /* line 615, ../sass/live-player.scss */
  #mainNavigation .container-fluid {
    background-color: transparent;
    /* [AA.BRAND] */
    /* [BB.BRAND] */
  }
  /* line 621, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavBrand img {
    height: 25px;
  }
  /* line 629, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .videoTitle {
    font-size: 14px;
  }
  /* line 635, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-toggle {
    display: none;
  }
  /* line 639, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    margin: 8px 0;
    min-width: 300px;
    padding: 8px 0;
    position: relative;
  }
  /* line 650, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li {
    float: left;
  }
  /* line 653, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li a {
    background-color: transparent;
    border-right: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    margin: 0 3px;
    padding: 3px 5px;
  }
  /* line 661, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li a:hover {
    background-color: #FFF;
    background-image: none;
    color: #428BCA;
  }
  /* line 670, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li:last-child a {
    border: none;
  }

  /* line 682, ../sass/live-player.scss */
  #playerContainer.vidFixedPosition {
    bottom: 10px;
    display: block;
    height: 220px;
    position: fixed;
    right: 10px;
    width: 30%;
    z-index: 100;
  }

  /* [03.MOBILE FOOTER MENU] */
  /* line 693, ../sass/live-player.scss */
  #mobileFooterMenu {
    display: none;
  }
}
/* [end] min-width:1100px) */
