/* 
LIVE PLAYER
*/
/* ---------------------------------- +/
MOBILE
Less than 768px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MENU BAR
04.SUB MENU BAR
05.BOOKMARK GRID
06.MOBILE MENU BAR
07.MOBILE FOOTER MENU

/+ ---------------------------------- */
/* [00.GLOBAL] */
/* line 22, ../sass/live-player.scss */
body {
  margin: 56px 0 0;
}

/* [01.MAIN NAVIGATION] */
/* line 27, ../sass/live-player.scss */
#mainNavigation {
  border-bottom: 1px solid #CCC;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
/* line 39, ../sass/live-player.scss */
#mainNavigation .container-fluid {
  background-color: transparent;
  /* [AA.BRAND] */
  /* [BB.VIDEO TITLE] */
  /* [CC.VIDEO TITLE] */
  /* [DD.PROFILE DROPDOWN] */
}
/* line 43, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavBrand {
  width: 100%;
}
/* line 46, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavBrand img {
  height: 25px;
  margin: 0 auto;
}
/* line 52, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavDropDown {
  display: none;
}
/* line 57, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavVidTitle {
  display: none;
}
/* line 62, ../sass/live-player.scss */
#mainNavigation .container-fluid #mainNavProfileDropDown {
  display: none;
}

/* [02.PLAYER CONTAINER] */
/* line 69, ../sass/live-player.scss */
#playerContainer {
  background-color: aquamarine;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}
/* line 75, ../sass/live-player.scss */
#playerContainer .player {
  position: relative;
  z-index: 10;
}
/* line 80, ../sass/live-player.scss */
#playerContainer .placeHolder {
  background-color: #CCC;
  min-height: 315px;
  margin: 0;
  padding: 215px 0 0;
  text-align: center;
  z-index: 0;
}
/* line 88, ../sass/live-player.scss */
#playerContainer .placeHolder s
h1 {
  color: #999;
  font-size: 24px;
  margin: 0;
}

/* line 96, ../sass/live-player.scss */
#playerContainer.vidFixedPosition {
  bottom: 60px;
  display: block;
  height: 140px;
  position: fixed;
  right: 10px;
  width: 70%;
  z-index: 100;
}

/* line 109, ../sass/live-player.scss */
#titleBlock {
  /* background-color: darkcyan; */
  background-color: transparent;
}
/* line 113, ../sass/live-player.scss */
#titleBlock .col-md-8 {
  font-size: 24px;
}
/* line 118, ../sass/live-player.scss */
#titleBlock .col-md-4 #shareButtons button {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  border: none;
  text-shadow: none;
}

/* [03.MENU BAR] */
/* line 133, ../sass/live-player.scss */
#menuBar {
  display: none;
}

/* [04.SUB MENU BAR] */
/* line 138, ../sass/live-player.scss */
#subMenuBar {
  display: none;
}

/* [05.BOOKMARK GRID] */
/* line 145, ../sass/live-player.scss */
#bookmarkGrid table thead {
  display: none;
}
/* line 149, ../sass/live-player.scss */
#bookmarkGrid table thead tr th {
  font-weight: normal;
  white-space: nowrap;
}
/* line 155, ../sass/live-player.scss */
#bookmarkGrid table tbody {
  /* [NEW BOOKMARK] */
}
/* line 157, ../sass/live-player.scss */
#bookmarkGrid table tbody tr th {
  display: block;
  font-weight: normal;
  width: 100%;
}
/* line 162, ../sass/live-player.scss */
#bookmarkGrid table tbody tr th img {
  height: 160px;
  width: initial;
}
/* line 170, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow {
  background-color: #F5F5F5;
}
/* line 173, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark {
  background-color: #E5E5E5;
  overflow: hidden;
  position: relative;
}
/* line 178, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark #deleteContainer {
  background-color: crimson;
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/* line 190, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark #deleteContainer:hover {
  background-color: teal;
  top: -85px;
}
/* line 196, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark #delete a {
  background-color: turquoise;
  color: #CCC;
  display: block;
  text-align: center;
}
/* line 203, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark #delete span {
  color: #CC0000;
  display: block;
  font-size: 10px;
}
/* line 210, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark #confirmDelete {
  background-color: #D30000;
  color: #FFF;
  height: 100%;
  left: 0;
  padding: 35px 0 0 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
/* line 221, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .deleteBookmark #confirmDelete:hover {
  opacity: .75;
  text-decoration: none;
}
/* line 227, ../sass/live-player.scss */
#bookmarkGrid table tbody .newBookMarkRow .image .tempImage {
  background-color: #E5E5E5;
  background-image: url(../../images/generating-image.gif);
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 1px solid #CCC;
  color: #999;
  display: block;
  font-size: 10px;
  height: 70px;
  padding: 45px 0 0 0;
  text-align: center;
  width: 162px;
}

/* [06.MOBILE MENU BAR] */
/* line 254, ../sass/live-player.scss */
#mobileMenuBar {
  background-color: #F5F5F5;
  border-bottom: #CCC solid 1px;
  display: block;
  height: 40px;
  margin: 0 0 10px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}
/* line 264, ../sass/live-player.scss */
#mobileMenuBar h5 {
  display: block;
  margin: 0 0 2px;
  padding: 0;
}
/* line 270, ../sass/live-player.scss */
#mobileMenuBar ol {
  position: relative;
  bottom: 3px;
}
/* line 274, ../sass/live-player.scss */
#mobileMenuBar ol li {
  background-color: transparent;
  border: 1px solid #999;
}
/* line 278, ../sass/live-player.scss */
#mobileMenuBar ol li.active {
  background-color: #CCC;
}

/* [07.MOBILE FOOTER MENU] */
/* line 285, ../sass/live-player.scss */
#mobileFooterMenu {
  background-color: #FFF;
  bottom: 0;
  border-top: 1px solid #B2B2B2;
  height: 50px;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
/* line 295, ../sass/live-player.scss */
#mobileFooterMenu a {
  color: #656565;
  display: block;
  height: 50px;
  padding: 10px 0;
}
/* line 301, ../sass/live-player.scss */
#mobileFooterMenu a span {
  display: block;
}
/* line 305, ../sass/live-player.scss */
#mobileFooterMenu a.active {
  background-color: #EEE;
  color: #58AEEF;
}

/* ---------------------------------- +/
TABLET (PORTRAIT)
Greater than 768px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MENU BAR
04.SUB MENU BAR
05.BOOKMARK GRID
06.MOBILE MENU BAR
07.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width: 768px) {
  /* [00.GLOBAL] */
  /* line 332, ../sass/live-player.scss */
  body {
    margin: 52px 0 0;
  }

  /* [01.MAIN NAVIGATION] */
  /* line 337, ../sass/live-player.scss */
  #mainNavigation {
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  /* line 346, ../sass/live-player.scss */
  #mainNavigation .container-fluid {
    background-color: transparent;
    /* [AA.BRAND] */
    /* [BB.VIDEO TITLE] */
    /* [CC.PROFILE DROPDOWN] */
  }
  /* line 350, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavBrand {
    width: inherit;
  }
  /* line 355, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavDropDown {
    display: block;
  }
  /* line 360, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown {
    display: block;
  }

  /* line 366, ../sass/live-player.scss */
  #playerContainer.vidFixedPosition {
    bottom: 10px;
    display: block;
    height: 220px;
    position: fixed;
    right: 10px;
    width: 50%;
    z-index: 100;
  }

  /* [03.MENU BAR] */
  /* line 377, ../sass/live-player.scss */
  #menuBar {
    background-color: #F5F5F5;
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0px 3px 10px #CCC;
    display: block;
    position: relative;
    z-index: 20;
  }
  /* line 388, ../sass/live-player.scss */
  #menuBar .container-fluid .nav li a {
    color: #666;
  }
  /* line 393, ../sass/live-player.scss */
  #menuBar .container-fluid .nav li.active a {
    background-color: #666;
    color: #FFF;
  }

  /* [04.SUB MENU BAR] */
  /* line 403, ../sass/live-player.scss */
  #subMenuBar {
    background-color: #E5E5E5;
    display: block;
    height: 50px;
    margin-bottom: 15px;
  }
  /* line 409, ../sass/live-player.scss */
  #subMenuBar .container-fluid {
    padding-top: 10px;
  }
  /* line 412, ../sass/live-player.scss */
  #subMenuBar .container-fluid ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* [05.BOOKMARK GRID] */
  /* line 425, ../sass/live-player.scss */
  #bookmarkGrid table thead {
    display: table-header-group;
  }
  /* line 429, ../sass/live-player.scss */
  #bookmarkGrid table thead tr th {
    font-weight: normal;
    white-space: nowrap;
  }
  /* line 437, ../sass/live-player.scss */
  #bookmarkGrid table tbody tr th {
    display: table-cell;
    font-weight: normal;
    vertical-align: inherit;
    width: initial;
  }
  /* line 443, ../sass/live-player.scss */
  #bookmarkGrid table tbody tr th img {
    height: 70px;
    width: initial;
  }

  /* [06.MOBILE MENU BAR] */
  /* line 454, ../sass/live-player.scss */
  #mobileMenuBar {
    display: none;
  }

  /* [07.MOBILE FOOTER MENU] */
  /* line 459, ../sass/live-player.scss */
  #mobileFooterMenu {
    display: none;
  }
}
/* [end] min-width:960px) */
/* ---------------------------------- +/
DESKTOP
Greater than 960px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width: 960px) {
  /* [00.GLOBAL] */
  /* line 479, ../sass/live-player.scss */
  body {
    margin: 52px 0 0;
  }

  /* [01.MAIN NAVIGATION] */
  /* line 484, ../sass/live-player.scss */
  #mainNavigation {
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  /* line 493, ../sass/live-player.scss */
  #mainNavigation .container-fluid {
    background-color: transparent;
    /* [AA.BRAND] */
    /* [BB.VIDEO TITLE] */
  }
  /* line 499, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavBrand img {
    height: 25px;
  }
  /* line 505, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavVidTitle {
    background-color: transparent;
    display: block !important;
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0 0 15px;
    position: relative;
  }
  /* line 514, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavVidTitle #nowWatching {
    background-color: transparent;
    color: #000;
    font-size: 9px;
    position: absolute;
    top: 4px;
  }

  /* line 525, ../sass/live-player.scss */
  #playerContainer.fixedPosition {
    bottom: 10px;
    display: block;
    height: 290px;
    position: fixed;
    right: 10px;
    width: 50%;
    z-index: 100;
  }

  /* [03.MOBILE FOOTER MENU] */
  /* line 536, ../sass/live-player.scss */
  #mobileFooterMenu {
    display: none;
  }
}
/* [end] min-width:960px) */
/* ---------------------------------- +/
WIDE DESKTOP
Greater than 1100px

00.GLOBAL
01.MAIN NAVIGATION
02.PLAYER CONTAINER
03.MOBILE FOOTER MENU

/+ ---------------------------------- */
@media (min-width: 1200px) {
  /* [00.GLOBAL] */
  /* line 556, ../sass/live-player.scss */
  body {
    margin: 52px 0 0;
  }

  /* [01.MAIN NAVIGATION] */
  /* line 561, ../sass/live-player.scss */
  #mainNavigation {
    border-bottom: 1px solid #CCC;
    border-radius: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  /* line 570, ../sass/live-player.scss */
  #mainNavigation .container-fluid {
    background-color: transparent;
    /* [AA.BRAND] */
    /* [BB.BRAND] */
  }
  /* line 576, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavBrand img {
    height: 25px;
  }
  /* line 584, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .videoTitle {
    font-size: 14px;
  }
  /* line 590, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-toggle {
    display: none;
  }
  /* line 594, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    margin: 8px 0;
    min-width: 300px;
    padding: 8px 0;
    position: relative;
  }
  /* line 605, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li {
    float: left;
  }
  /* line 608, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li a {
    background-color: transparent;
    border-right: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    margin: 0 3px;
    padding: 3px 5px;
  }
  /* line 616, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li a:hover {
    background-color: #FFF;
    background-image: none;
    color: #428BCA;
  }
  /* line 625, ../sass/live-player.scss */
  #mainNavigation .container-fluid #mainNavProfileDropDown .dropdown .dropdown-menu li:last-child a {
    border: none;
  }

  /* line 637, ../sass/live-player.scss */
  #playerContainer.vidFixedPosition {
    bottom: 10px;
    display: block;
    height: 220px;
    position: fixed;
    right: 10px;
    width: 30%;
    z-index: 100;
  }

  /* [03.MOBILE FOOTER MENU] */
  /* line 648, ../sass/live-player.scss */
  #mobileFooterMenu {
    display: none;
  }
}
/* [end] min-width:1100px) */
